body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.head {
    margin: 0 auto;
    padding-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 18px;
    
}

.head-background{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-name {
font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}

.head-icon {
   margin-left: auto;
}

.icon {
    padding-right: 25px;
}

.head-link-style {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.head-link-style:first-child {
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);;
}

.head a {
    transition: 0.5s linear;
    transition-property: color;
}

.head a:hover {
    color: #3CB878;
}

.icon a {
    transition: 0.5s linear;
}

.icon:first-child:hover {
    content: url(../svg/calendar-hover.svg);
}

.icon:nth-child(2):hover {
    content: url(../svg/envelope-hover.svg);
}

.icon:last-child:hover {
    content: url(../svg/compass-hover.svg);
}

.signin-container {
width: 444px;
margin: 74px auto;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
position: relative;
}

.signin-container::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3CB878;
    top: 30px;
}

.signin-head {
    padding: 30px 60px 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.signin-head :first-child {
font-size: 20px;
color: #434343;
}

.signin-head :last-child {
font-size: 14px;
color: #3CB878;
transition: color 0.5s linear, text-decoration;
}

.signin-head :last-child:hover {
    color: #01813F;
    text-decoration: underline;
}

.social-btn {
    padding-inline: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.facebook-btn {
    background-color: #305DB8;
    border-radius: 3px;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: 0.5s linear;
}

.facebook-btn :first-child {
    padding-block: 5px;
    padding-right: 16px;
    padding-left: 0;
    border-right: 1px solid  #022263;
}

.facebook-btn:hover {
    background: #022263;
}

.google-btn {
    background-color: #DF4A32;
    border-radius: 3px;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: 0.5s linear;
    transition-property: background;
}

.google-btn :first-child {
    padding-block: 8px;
    padding-right: 6px;
    padding-left: 0;
    border-right: 1px solid  #AB1F09;
}
 

.google-btn:hover {
    background: #AB1F09;
}

.name-link-btn {
    font-size: 16px;
    color: #FFFFFF;
}

.signin-divider {
    font-size: 14px;
    color: #848484;
    position: relative;
    text-align: center;
}

.signin-divider::after,
.signin-divider::before {
    content: '';
    position: absolute;
    top: 60%;
    width: 150px;
    height: 1px;
    background: #F2F2F2;
    transform: translateY(-60%);
}

.signin-divider::after {
    right: 60px;
}
.signin-divider::before {
    left: 60px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-inline: 60px;
    }

    .signin-form-field {
        border: none;
        outline: none;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 14px;
        transition: 0.5s;
        transition-property: box-shadow;
    }

    .signin-form-field:focus {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
        color: #434343;
    }

    .signin-form-field::placeholder {
        color: #BEBEBE;
    }

    .signin-form-field:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .signin-form-field:last-child {
        margin-bottom: 20px;
    }
    
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        right: 364px;
        bottom: 111px;
      }

      .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      .custom-checkbox+label::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #F2F2F2;
        background: rgba(0, 0, 0, 0.0001);
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .custom-checkbox:checked+label::before {
        background-image: url("../svg/check.svg");
      }

    .signin-form-label :first-child {
        font-size: 14px;
        color: #434343;
        border-bottom: 1px solid #FFFFFF;
        display: inline-block;
    }

    .signin-form-label :last-child {
        font-size: 14px;
        color: #3CB878;
        padding-left: 5px;
        transition: color 0.5s linear, border-bottom;
    }

    .signin-form-label :last-child:hover {
        color: #01813F;
        border-bottom: 1px solid;
    }

    .signin-form-submit {
        font-weight: 400;
        font-size: 16px;
        background: rgba(60, 184, 120, 0.8);
        border-radius: 4px;
        color: #FFFFFF;
        padding-block: 16px;
        margin-top: 20px;
        margin-bottom: 38px;
        border: none;
        cursor: pointer;
        transition: 0.5s linear;
        transition-property: background;
    }

    .signin-form-submit:hover {
        background: #01813F;
    }

